<html>
  <head><title>Password Setup</title></head>
  <body>
    <ul>
      {% for message in messages %}
      <li><strong>{{ message }}</strong></li>
      {% endfor %}
    </ul>
    <form method="post">
      <fieldset>
        <legend>Set your password</legend>
        <label for="password">Password</label>
        <input name="password" id="password" type="password" required />
        <label for="tenant">Tenant</label>
        <input name="tenant" id="tenant" required />
      </fieldset>
      <button type="submit">Set Password</button>
    </form>
  </body>
</html>