<html>
  <head><title>Password Change</title></head>
  <body>
    <ul>
      {% for message in messages %}
      <li><strong>{{ message }}</strong></li>
      {% endfor %}
    </ul>
    <form method="post">
      <fieldset>
        <legend>Change your password</legend>
        <label for="old_password">Current Password</label>
        <input name="old_password" id="old_password" type="password" required />
        <label for="new_password">New Password</label>
        <input name="new_password" id="new_password" type="password" required />
        <label for="tenant">Tenant</label>
        <input name="tenant" id="tenant" required />
      </fieldset>
      <button type="submit">Change Password</button>
    </form>
  </body>
</html>